.g-mainwraper {
	letter-spacing:0;
}
.cmt .cmt-title {
	margin-bottom:15px;
	font-size:14px;
	font-weight:normal;
	color:#666;
	letter-spacing:0;
}
.m-lineBox {
	letter-spacing:-4px;
}
.w-btn-cancelLike .cancel-over,.w-btn-cancelLike:hover .cancel-out {
	display:none;
}
.w-btn-cancelLike:hover .cancel-over {
	display:inline;
}
.m-floatcmtArea {
	position:relative;
	z-index:10;
	margin-top:10px;
	padding:15px 20px;
	background-color:#f8f8f8;
	letter-spacing:0;
}
.m-floatcmtArea .i-textarea {
	height:28px;
	width:580px;
	vertical-align:middle;
}
.m-floatcmtArea .w-btnDeepSkyBlue,.m-floatcmtArea .w-btnWhiteSmoke {
	position:relative;
}
.m-floatcmtArea .w-borderarrow-t {
	display:none;
	position:absolute;
	z-index:11;
	right:80px;
	top:-10px;
	border-bottom-color:#f8f8f8;
}
.m-floatcmtArea .w-lineBox {
	margin-top:15px;
	width:100%;
	letter-spacing:-4px;
}
.g-mainwraper-hostinfo {
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #f3f3f3;
}
.g-mainwraper-singlehostinfo {
	margin-top:40px;
}
.m-lineBox-userinfo .o-box-face {
	overflow:hidden;
	width:100px;
	height:100px;
}
.m-lineBox-userinfo .o-box-userinfo {
	position:relative;
	margin-left:15px;
	width:865px;
	color:#999;
}
.m-lineBox-userinfo .o-box-userinfo .picset-title,.m-lineBox-userinfo .o-box-userinfo .picset-count {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.m-lineBox-userinfo .o-box-userinfo .picset-title {
	font:24px/1.2 \5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
	color:#333;
}
.m-lineBox-userinfo .picset-title .title-con {
	color:#333;
	text-decoration:none;
}
.m-lineBox-userinfo .picset-title .title-con .title-tip {
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
	display:none;
	color:#666;
}
.m-lineBox-userinfo .picset-title .title-con:hover {
	display:inline-block;
	padding:0 3px;
	background-color:#fff5e7;
}
.m-lineBox-userinfo .picset-title .title-con:hover .title-tip {
	display:inline-block;
	vertical-align:baseline;
}
.m-lineBox-userinfo .o-box-userinfo .picset-count {
	margin-left:5px;
	vertical-align:baseline;
}
.m-lineBox-userinfo .o-box-userinfo .picset-cmtnum {
	margin-top:15px;
}
.m-lineBox-userinfo .o-box-userinfo .picset-author {
	margin-top:20px;
	vertical-align:baseline;
}
.m-lineBox-userinfo .picset-author .btn-plus {
	font:700 14px/24px \9ED1\4F53;
	vertical-align:middle;
}
.m-lineBox-userinfo .picset-author .w-btnDeepSkyBlueDisabled .btn-plus {
	font:normal 12px/24px \9ED1\4F53;
}
.m-lineBox-userinfo .o-box-userinfo .m-blueWB {
	position:absolute;
	right:0;
	bottom:0;
	white-space:nowrap;
}
.m-blueWB .w-blueWB-douban {
	margin-right:0;
}
.m-lineBox-userinfo .author-unfollow .w-btnDeepSkyBlueDisabled,.m-lineBox-userinfo .author-unfollow .act-unfollow,.m-lineBox-userinfo .author-followed .w-btnDeepSkyBlue,.m-lineBox-userinfo .author-followed .act-unfollow {
	display:none;
}
.m-lineBox-userinfo .author-unfollow .w-btnDeepSkyBlue,.m-lineBox-userinfo .author-followed .w-btnDeepSkyBlueDisabled,.m-lineBox-userinfo .author-followed {
	display:inline-block;
}
.m-lineBox-userinfo .author-followed:hover .act-unfollow,.m-lineBox-userinfo .author-followedHover .act-unfollow {
	display:inline;
}
.m-shareMange {
	position:relative;
	z-index:1;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:bottom;
}
.m-shareMange .w-borderarrow-r {
	border-color:transparent transparent transparent #999;
	vertical-align:middle;
}
.m-shareMange .w-borderarrow-b {
	border-color:#999 transparent transparent transparent;
	vertical-align:text-bottom;
}
.m-shareMange .shareMange-title a {
	text-decoration:none;
}
.m-shareMange .shareMange-items {
	position:absolute;
	z-index:2;
	left:-99999px;
	box-shadow:0 0 5px lightblue;
	border:1px solid #e0e5eb;
	padding:2px;
	width:120px;
	background:#fff;
}
.m-shareMange:hover .shareMange-items,.m-shareMangeHover .shareMange-items {
	left:0;
}
.m-shareMange .mange-item a {
	display:inline-block;
	padding:5px 0 5px 5px;
	width:115px;
}
.m-shareMange .mange-item a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#3eb1f0;
}
.m-shareMange .mange-item a:hover .w-borderarrow-r {
	border-color:transparent transparent transparent #fff;
}
.g-mainwraper-picsetinfo {
	overflow:hidden;
	margin-top:35px;
	line-height:24px;
	color:#333;
	text-align:left;
	word-wrap:break-word;
	word-spacing:normal;
}
.g-mainwraper-picsetinfo .picset-cc,.g-mainwraper-picsetinfo .picset-cc:hover {
	color:#666;
	text-decoration:none;
}
.g-mainwraper-picsetinfo .picset-intro {
	padding-right:10px;
	white-space:pre-wrap;
	*white-space:pre;
}
.g-mainwraper-picsetinfo .picset-introModify .modify-tip {
	visibility:hidden;
	color:#666;
}
.g-mainwraper-picsetinfo .picset-introModify:hover,.g-mainwraper-picsetinfo .picset-introModifyHover {
	background-color:#fff5e7;
}
.g-mainwraper-picsetinfo .picset-introModify:hover .modify-tip,.g-mainwraper-picsetinfo .picset-introModifyHover .modify-tip {
	visibility:visible;
}
.g-mainwraper-piclist {
	overflow:hidden;
	margin-bottom:-60px;
	padding:0 10px;
	width:960px;
}
.g-mainwraper-piclist .m-picsetitem {
	margin-bottom:60px;
	word-spacing:normal;
}
.g-mainwraper-piclist .m-picsetitem .pic-index {
	margin-bottom:10px;
	color:#ccc;
	text-align:center;
	font-size:12px;
	font-family:Georgia;
}
.g-mainwraper-piclist .m-picsetitem .pic-area {
	position:relative;
	*zoom:1;
	background-color:#f9f9f9;
}
.g-mainwraper-piclist .m-picsetitem .onpic-exifbtn,.g-mainwraper-piclist .m-picsetitem .m-picexif {
	visibility:hidden;
}
.m-picsetitem .pic-area img {
	*zoom:1;
	cursor:pointer;
	background:url(../images/ico_autoLoading.gif) no-repeat center center scroll;
}
.m-picsetitem .pic-area .pic-exifbg,.m-picsetitem .pic-area .pic-exifbtn {
	overflow:hidden;
	position:absolute;
	z-index:5;
	left:10px;
	bottom:10px;
	*zoom:1;
}
.m-picsetitem .pic-area .pic-exifbg {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	width:20px;
	height:20px;
	background-color:#000;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
}
.m-picsetitem .pic-area .pic-exifbtn {
	z-index:6;
	width:20px;
	height:20px;
	line-height:0;
	font-size:0;
	-webkit-text-size-adjust:none;
	color:#fff;
	text-align:center;
	cursor:pointer;
	background:url(http://r.ph.126.net/share/images/ico/ico_shareSet_exif_weibo.png) no-repeat center 0 scroll;
}
.m-picexif,.m-picexif .picexif-title,.m-picexif .picexif-container,.m-picexif .picexif-bg,.m-picexif .picexif-titlebg,.m-picexif .picexif-none {
	position:absolute;
	z-index:10;
	letter-spacing:0;
	color:#ccc;
}
.m-picexif,.m-picexif .picexif-bg {
	left:0;
	bottom:0;
	width:280px;
	height:280px;
}
.m-picexif .picexif-bg {
	z-index:11;
	background-color:#000;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
}
.m-picexif .picexif-titlebg,.m-picexif .picexif-title {
	overflow:hidden;
	z-index:12;
	left:10px;
	bottom:10px;
}
.m-picexif .picexif-titlebg {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	width:20px;
	height:20px;
	background-color:#6c6e6a;
}
.m-picexif .picexif-title {
	overflow:hidden;
	z-index:13;
	width:20px;
	height:20px;
	line-height:0;
	color:#fff;
	font-weight:normal;
	font-size:0;
	-webkit-text-size-adjust:none;
	text-align:center;
	cursor:default;
	background:url(../images/ico_shareSet_exif_weibo.png) no-repeat center 0 scroll;
	background-color: rgba(0,0,0,.8);
}
.m-picexif .picexif-none,.m-picexif .picexif-container {
	z-index:12;
	padding:25px 10px 39px 10px;
	width:260px;
	line-height:24px;
}
.m-picAct .pic-description,.m-picAct .pic-camerainfo {
	line-height:25px;
	text-align:left;
	color:#666;
	word-wrap:break-word;
	word-break:break-all;
}
.m-picAct .pic-camerainfo {
	margin-bottom:10px;
}
.m-picAct .pic-description {
	margin-bottom:10px;
	white-space:pre-wrap;
	*white-space:pre;
}
.m-picAct .pic-descModify .pic-modifytip {
	visibility:hidden;
	color:#666;
}
.m-picAct .pic-descModify:hover,.m-picAct .pic-descModifyHover {
	background-color:#fff5e7;
}
.m-picAct .pic-descModify:hover .pic-modifytip,.m-picAct .pic-descModifyHover .pic-modifytip {
	visibility:visible;
}
.m-picsetitem-full .m-picAct {
	margin-top:20px;
	letter-spacing:-4px;
	text-align: right;
}
.m-picsetitem-full .pic-descArea,.m-picsetitem-full .pic-btnarea {
	display:inline-block;
	*display:inline;
	*zoom:1;
	letter-spacing:0;
	vertical-align:top;
}
.m-picsetitem-full .pic-descArea {
	width:690px;
}
.m-picsetitem-full .pic-btnarea {
	width:270px;
	text-align:right;
}
.m-picsetitem-lite .main-area {
	letter-spacing:-4px;
	background-color:#f8f8f8;
}
.m-picsetitem-lite .pic-area,.m-picsetitem-lite .m-picAct {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.m-picsetitem-lite .pic-area,.m-picsetitem-lite .m-picAct {
	letter-spacing:0;
}
.m-picsetitem-lite .m-picAct {
	padding:30px;
}
.m-picsetitem-lite .m-floatcmtArea {
	padding:15px 0 0;
}
.m-picsetitem-lite .m-floatcmtArea .editor-wraper {
	text-align:left;
}
.m-picsetitem-lite .m-floatcmtArea .w-btnDeepSkyBlue {
	margin-left:0;
}
.m-picsetitem-lite .m-floatcmtArea .i-textarea {
	margin-bottom:5px;
	width:95%;
}
.m-picsetitem-lite .m-floatcmtArea .w-borderarrow-t {
	left:90px;
	right:auto;
}
.m-floatcmtArea .editor-container .l-box-con {
	display:inline;
	word-break:break-all;
	word-wrap:break-word;
}
.m-floatcmtArea .editor-container .l-box-con img {
	display:inline;
	vertical-align:middle;
}
.g-mainwraper-footAuthor {
	margin-top:60px;
}
.g-mainwraper-footAuthor .footAuthor-title {
	margin-bottom:15px;
	font-size:14px;
	font-weight:normal;
	color:#666;
}
.g-mainwraper-footAuthor .m-lineBox {
	margin-right:-15px;
}
.g-mainwraper-footAuthor .m-lineBox .o-box-face,.g-mainwraper-footAuthor .m-lineBox .o-box-info,.g-mainwraper-footAuthor .m-lineBox .o-box-recommend {
	overflow:hidden;
	margin-right:15px;
}
.g-mainwraper-footAuthor .m-lineBox .o-box-face {
	width:140px;
	height:140px;
}
.g-mainwraper-footAuthor .m-lineBox .o-box-info {
	width:220px;
}
.m-lineBox .nick-area .host-title {
	font-size:22px;
	font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
}
.m-lineBox .nick-area .host-title,.m-lineBox .nick-area .host-title:hover {
	color:#666;
}
.m-lineBox .nick-area .host-grade {
	color:#999;
	vertical-align:baseline;
}
.m-lineBox .o-box-info .w-lineBlock {
	border-right:1px solid #ebebeb;
	padding-right:15px;
	height:50px;
	text-align:center;
}
.m-lineBox .o-box-info .w-lineBlock,.m-lineBox .o-box-info .w-lineBlock:hover {
	color:#666;
	text-decoration:none;
}
.m-lineBox .o-box-info .w-lineBlock-followed {
	padding:0 10px;
}
.m-lineBox .o-box-info .w-lineBlock-liked {
	border-right:none;
	padding:0 0 0 10px;
}
.m-lineBox .w-lineBlock .num,.m-lineBox .w-lineBlock .num-t {
	display:block;
}
.m-lineBox .w-lineBlock .num {
	font-family:Georgia;
	font-size:26px;
	line-height:30px;
	margin-bottom:5px;
}
.m-lineBox .w-lineBlock .num-t {
	color:#999;
	line-height:15px;
}
.g-mainwraper-footAuthor .m-lineBox .o-box-recommend {
	margin-right:-1px;
	width:570px;
	letter-spacing:-4px;
	text-align:left;
}
.g-mainwraper-footAuthor .o-box-recommend img {
	display:inline-block;
	margin-right:1px;
	width:140px;
	height:140px;
}
.g-mainwraper-cmt {
	margin:60px auto 200px;
	letter-spacing:-20px;
}
.g-mainwraper-cmt .g-aside {
	margin-top:25px;
}
.g-mainwraper-cmt .g-main,.g-mainwraper-cmt .g-aside {
	float:left;
	display:inline;
}
.g-mainwraper-cmt .cmtarea-title {
	margin-bottom:15px;
	font-size:14px;
	font-weight:normal;
	color:#666;
	letter-spacing:0;
}
.cmt .anony-hint {
	vertical-align:baseline;
}
.cmt .cmt-title {
	padding-left:0;
	background:none;
}
.cmt .cmt-avt img,.nbw-cmt .nbw-f50 img.cwd,.nbw-cmt .nbw-f40 img.cwd,.nbw-cmt .nbw-f50,.nbw-cmt .nbw-f40 {
	border:none;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
}
.w-ceditor .zhnd,.w-rep-editor .zhnd {
	background-image:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:none;
	border-bottom:1px solid #1FABE7;
	padding:3px 5px;
	height:24px;
	line-height:1;
	width:60px;
	color:#fff;
	background-color:#3eb1f0;
}
.w-ceditor .zhnd:hover,.w-rep-editor .zhnd:hover {
	background-image:none;
	background-color:#1687cb;
}
.w-ceditor .zbcc,.w-rep-editor .zbcc {
	border:none;
	border-bottom:1px solid #e4e4e4;
	color:#666;
	background-color:#f1f1f1;
}
.w-ceditor .zbcc:hover,.w-rep-editor .zbcc:hover {
	text-decoration:none;
	background-color:#e1e1e1;
}
.w-pub-editor .zmsg {
	background-color:#FFF;
	height:22px;
	position:absolute;
	right:65px;
	top:120px;
	width:240px;
}
body .m-shareSetXbox {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:99;
}
body .m-shareSetXbox-frm {
	display:none;
	background:none repeat scroll 0 0 transparent;
}
body .m-shareSetXbox .zmov {
	display:none;
}
body .m-shareSetXbox .zcnt {
	padding:0;
	height:100%;
	width:100%;
	background:transparent;
}
body .m-shareSetXbox .zwrp {
	height:100%;
	width:100%;
	box-shadow:none;
	border:none;
}
.m-shareSetXbox .m-xboxModule {
	position:fixed;
	_position:absolute;
	left:auto;
	padding:0;
	height:100%;
	width:100%;
	white-space:nowrap;
	text-align:center;
}
.m-shareSetXbox .m-xboxModule img {
	display:inline-block;
	margin:auto 0;
	vertical-align:middle;
}
.m-shareSetXbox .m-xboxModule img,.m-hdXbox .m-xboxModule .w-circle {
	vertical-align:middle;
}
.m-shareSetXbox .m-xboxModule .w-circle {
	position:absolute;
	right:0;
	top:50%;
	margin-top:-33px;
}
.m-shareSetXbox .m-xboxModule .w-circle-l,.m-shareSetXbox .m-xboxModule .w-circle-l:visited .m-shareSetXbox .m-xboxModule .w-circle-l:hover {
	left:0;
	right:auto;
}
.m-shareSetXbox .m-xboxModule .w-circle-l:active {
	left:3px;
}
.m-shareSetXbox .m-xboxModule .w-circle-r,.m-shareSetXbox .m-xboxModule .w-circle-r:visited .m-shareSetXbox .m-xboxModule .w-circle-r:hover {
	right:0;
	left:auto;
}
.m-shareSetXbox .m-xboxModule .w-circle-r:active {
	right:3px;
}
.m-shareSetXbox .m-xboxModule .xbox-topbtn {
	text-align:center;
}
.m-shareSetXbox .m-xboxModule .content-wraper {
	position:relative;
	width:100%;
	height:100%;
}
.m-shareSetXbox .m-xboxModule .xbox-picarea {
	position:relative;
	display:table;
	height:100%;
	width:100%;
}
.m-shareSetXbox .m-xboxModule .xb-imgP {
	display:table-cell;
	position:relative;
	*top:50%;
	*zoom:1;
	height:auto;
	vertical-align:middle;
}
.m-shareSetXbox .m-xboxModule .xb-imgP2 {
	position:relative;
	*top:-50%;
	*zoom:1;
}
.m-xboxModule .xbox-img,.m-xboxModule .xbox-topbtn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
.m-shareSetXbox .m-xboxModule .picinfo-area,.m-shareSetXbox .m-xboxModule .picinfo-container,.m-shareSetXbox .m-xboxModule .picinfo-bg {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:9;
}
.m-shareSetXbox .m-xboxModule .picinfo-container {
	padding:15px;
	text-align:left;
}
.m-shareSetXbox .m-xboxModule .picinfo-bg {
	z-index:9;
	background-color:#000;
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9;
	height:100%;
}
.m-shareSetXbox .m-xboxModule .pic-desc,.m-shareSetXbox .m-xboxModule .pic-camerainfo,.m-shareSetXbox .m-xboxModule .pic-author {
	position:relative;
	z-index:9;
}
.m-shareSetXbox .m-xboxModule .pic-desc,.m-shareSetXbox .m-xboxModule .pic-camerainfo {
	color:#999;
}
.m-modifyArea {
	padding:20px 25px;
	width:800px;
	height:30px;
	background-color:#fff5e7;
}
.m-modifyArea .i-textarea {
	height:28px;
	width:580px;
	vertical-align:middle;
}
.m-modifyArea .i-text {
	height:28px;
	width:580px;
	vertical-align:middle;
}
.m-picsetDescEditor {
	width:930px;
	height:100%;
}
.m-picsetDescEditor .i-textarea {
	margin-bottom:5px;
	height:80px;
	width:920px;
}
.m-descEditor {
	height:100%;
	width:auto;
}
.m-descEditor .i-textarea {
	margin-bottom:5px;
	height:80px;
	width:100%;
}
.m-singleWeibo {
	overflow:hidden;
	position:absolute;
	z-index:5;
	bottom:0;
	left:32px;
	height:30px;
	width:93px;
	visibility:hidden;
}
.m-singleWeibo .lay-bg {
	position:absolute;
	z-index:5;
	bottom:0;
	left:0;
	right:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=80);
	_background-color:#49423d;
	_filter:none;
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
	visibility:hidden;
}
.m-singleWeibo .lay-weibo {
	position:absolute;
	top:0;
	left:0;
	z-index:6;
	visibility:hidden;
}
.m-singleWeibo .lay-weibo a {
	position:relative;
	display:block;
	padding:10px;
	width:73px;
	white-space:nowrap;
	zoom:1;
}
.m-singleWeibo .lay-weibo b {
	margin-bottom:0;
	vertical-align:middle;
}
.m-singleWeibo .weibo-ico {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	width:25px;
}
.m-singleWeibo .weibo-txt {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:0;
	color:#9B9B9B;
}
.m-singleWeibo .lay-weibo a:hover {
	text-decoration:none;
	background-color:#555;
	_background-color:none;
}
.m-singleWeibo .lay-weibo a:hover .weibo-txt {
	color:#fff;
}
.m-singleWeibo .btnArea-weibo {
	overflow:hidden;
	position:absolute;
	z-index:6;
	bottom:10px;
	left:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	width:20px;
	height:20px;
}
.i-share-lofter {
	overflow:hidden;
	position:absolute;
	z-index:6;
	left:75px;
	bottom:10px;
	visibility:hidden;
	cursor:pointer;
	width:96px;
	height:20px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.i-share-lofter .lofter-bg,.i-share-lofter .lofter-txt {
	position:absolute;
	left:0;
	top:0;
	display:block;
	height:100%;
	width:100%;
	z-index:0;
}
.i-share-lofter .lofter-bg {
	background-color:#000;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
}
.i-share-lofter .lofter-txt {
	z-index:1;
	background:url(http://r.ph.126.net/share/images/common/ico_share_lofter_txt.png) no-repeat center center scroll;
}
.i-share-lofter-hover,.i-share-lofter:hover {
	visibility:visible;
}
.i-share-lofter-hover .lofter-bg,.i-share-lofter:hover .lofter-bg {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	background-color:#6c6e6a;
}
.m-singleWeibo-default {
	visibility:visible;
}
.m-singleWeibo-default .btnArea-weibo .lay-bg {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-color:#000;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
	visibility:visible;
}
.m-singleWeibo-hover {
	height:320px;
	visibility:visible;
	z-index:7;
}
.m-singleWeibo-hover .lay-bg,.m-singleWeibo-hover .lay-weibo {
	visibility:visible;
}
.m-singleWeibo-hover .lay-weibo {
	left:0;
	top:0;
}
.m-singleWeibo-hover .btnArea-weibo .lay-bg {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-color:#6c6e6a;
}
.m-singleWeibo-hover .btnArea-weibo .weibo-txt {
	color:#fff;
}
.m-singleWeibo .btn-weibo {
	overflow:hidden;
	position:absolute;
	z-index:6;
	width:20px;
	height:20px;
	line-height:0;
	text-align:center;
	font-size:0;
	-webkit-text-size-adjust:none;
	color:#fff;
	background:url(http://r.ph.126.net/share/images/ico/ico_shareSet_exif_weibo.png) no-repeat center -20px scroll;
}
.zcnt textarea {
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	resize: none;
	padding: 5px 3px 5px 3px;
	box-sizing: border-box;
}
.zbtn{
	text-align: right;
}
