a {
	color:#1687cb;
	text-decoration:none;
}
a:hover {
	color:#3eb1f0;
	text-decoration:underline;
}
html,.g-fixedFotter {
	height:100%;
}
.g-fixedFotter .g-topMain {
	padding-bottom:40px;
	min-height:100%;
	_height:100%;
}
.g-fixedFotter .g-footer {
	clear:both;
	margin-top:0;
}
.g-fixedFotter .g-footer .pp-footer {
	margin-top:0;
}
.g-body {
	margin:0 auto;
	width:100%;
}
.g-bodywraper {
	margin:0 auto;
	width:980px;
	letter-spacing:-4px;
	background-color:#fff;
}
.g-mainwraper {
	margin:0 auto;
	width:980px;
	letter-spacing:-4px;
	word-spacing:-0.43em;
}
.g-wraper {
	margin:0 auto;
	width:980px;
}
.g-wraper960 {
	margin:0 auto;
	width:960px;
}
.g-main,.g-aside {
	overflow:hidden;
	display:inline-block;
	display:inline\9;
	zoom:1\9;
	letter-spacing:0;
	word-spacing:normal;
	vertical-align:top;
}
:root .g-main,:root .g-aside {
	display:inline-block;
}
.g-main {
	width:650px;
}
.g-aside {
	margin-left:70px;
	width:260px;
}
.g-mainwraper .pager {
	margin-top:20px;
}
.g-fixed {
	position:absolute;
	top:0;
	left:0;
}
.g-homebody {
	position:relative;
	z-index:5;
	width:100%;
}
.g-homewraper {
	margin:0 auto;
	z-index:5;
}
.g-homewraper-1 {
	background-color:#fff;
}
.g-homewraper-2 {
	min-height:600px;
	_height:600px;
}
.g-homewraper:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}
.g-homewraper {
	zoom:1;
}
.g-homemain {
	width:100%;
	float:left;
}
.g-homeasid {
	float:right;
}
.m-title {
	margin:40px 0 20px;
	letter-spacing:0;
	word-spacing:normal;
}
.m-title .title {
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
	font-size:24px;
	font-weight:normal;
	color:#4d4d4d;
	vertical-align:middle;
}
.m-title .t-more {
	font-size:12px;
	color:#999;
	vertical-align:baseline;
}
.m-title .t-operation {
	position:absolute;
	right:0;
	bottom:0;
	font-size:12px;
	color:#999;
	vertical-align:baseline;
}
.m-title .explain {
	margin:20px 0;
	color:#666;
}
.m-title .title-back {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:20px;
	vertical-align:-6px;
}
.m-tips {
	padding:15px;
	line-height:20px;
	color:#666;
	background-color:#f8f8f8;
}
.m-tips .tip-title {
	font-weight:normal;
	font-size:14px;
}
.m-tips .tip-explain {
	padding-top:10px;
}
.w-hint {
	letter-spacing:0;
}
.w-lineBox,.w-lineBox .l-box {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.w-lineBox {
	letter-spacing:-4px;
	word-spacing:-0.43em;
}
.w-lineBox .l-box {
	letter-spacing:0;
	word-spacing:normal;
}
.w-lineBlock {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:baseline;
}
.w-imgcaption {
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.w-imgcaption .cp-tcon,.w-imgcaption .cp-bg {
	position:absolute;
}
.w-imgcaption .cp-tcon {
	z-index:2;
	left:10px;
	bottom:0;
	font:14px/30px \5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
}
.w-imgcaption .cp-bg {
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:30px;
	background:#000;
	opacity:.8;
	filter:alpha(opacity=80);
}
.w-poparrow,.w-poparrow .pop-box,.w-poparrow .pop-arrow {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.w-poparrow {
	position:relative;
	padding-bottom:10px;
	text-align:center;
	letter-spacing:-20px;
}
.w-poparrow .pop-box {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:0 5px;
	letter-spacing:0;
	font:14px/30px \5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
	color:#fff;
	white-space:nowrap;
	background-color:#ca583d;
}
.w-poparrow .pop-arrow,.w-poparrow .pop-dot {
	overflow:hidden;
	position:absolute;
	left:30%;
	bottom:0;
}
.w-poparrow .pop-arrow {
	border-color:#ca583d transparent transparent #ca583d;
	border-style:solid dashed dashed solid;
	border-width:5px 10px;
	width:0;
	height:0;
}
.w-poparrow .pop-dot {
	border-color:#fff transparent transparent #fff;
	border-style:solid dashed dashed solid;
	border-width:5px;
	width:0;
	height:0;
}
.m-lineBox .pop-box,.m-lineBox .o-box {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.m-lineBox {
	letter-spacing:-4px;
	word-spacing:-0.43em;
}
.m-lineBox .o-box {
	letter-spacing:0;
	word-spacing:normal;
}
.w-lineBox-topics {
	border-bottom:1px solid #f3f3f3;
}
.w-lineBox-topics .topic-title,.w-lineBox-topics .topic-author,.w-lineBox-topics .topic-reply,.w-lineBox-topics .topic-update {
	height:38px;
	line-height:38px;
	letter-spacing:0;
}
.w-lineBox-topics .topic-title {
	margin-right:30px;
	width:350px;
}
.w-lineBox-topics .topic-author {
	margin-right:20px;
	width:110px;
}
.w-lineBox-topics .topic-reply {
	margin-right:10px;
	width:45px;
}
.w-lineBox-topics .topic-update {
	margin-left:10px;
	width:75px;
}
.w-imgtxt {
	letter-spacing:-4px;
	word-spacing:-0.43em;
}
.w-imgtxt .imgtxt-img,.w-imgtxt .imgtxt-txt,.w-imgtxt .imgtxt-more {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	word-spacing:normal;
}
.w-imgtxt .imgtxt-txt,.w-imgtxt .imgtxt-more {
	letter-spacing:0;
}
.w-imgtxt-hd .imgtxt-img {
	width:100px;
	height:100px;
}
.w-imgtxt-hd .imgtxt-img img {
	background-color:#ccc;
}
.w-imgtxt-hd .imgtxt-txt {
	line-height:20px;
}
.w-imgtxt-hd .imgtxt-more {
	letter-spacing:-4px;
}
.w-imgtxt-hd .hd-img {
	font-size:0;
	-webkit-text-size-adjust:none;
}
.w-imgtxt-hd .imgtxt-more img {
	display:inline-block;
}
.m-listModule {
	letter-spacing:-4px;
	word-spacing:-0.43em;
}
.m-listModule-nowrap {
	white-space:nowrap;
}
.m-listModule .list-item {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	letter-spacing:0;
	word-spacing:normal;
	word-spacing:normal;
}
.m-listModule .last-col {
	margin-right:0;
}
.m-listModule .last-row {
	margin-bottom:0;
}
.w-columLayout:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}
.w-columLayout {
	zoom:1;
}
.w-columLayout .colum {
	float:left;
}
.w-columLayout .line {
	vertical-align:middle;
}
.w-columLayout .colum-40 {
	width:40px;
}
.w-columLayout .colum-100 {
	width:100px;
}
.w-columLayout .colum-200 {
	width:200px;
}
.w-columLayout .colum-400 {
	width:400px;
}
.m-crumb {
	margin:15px 0;
	color:#4d4d4d;
	letter-spacing:-4px;
	word-spacing:normal;
	font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
}
.m-crumb a,.m-crumb b,.m-crumb .arrow {
	letter-spacing:0;
}
.m-crumb .arrow {
	margin:0 5px;
	font-family:\5B8B\4F53;
	color:#999;
}
body .m-sharePager {
	letter-spacing:0;
	word-spacing:normal;
}
body .m-sharePager .iblock {
	margin:0 2px;
}
body .m-sharePager .frg {
	font-weight:bold;
}
body .m-sharePager .pgi,body .m-sharePager .zbtn {
	color:#333;
	text-decoration:none;
	height:24px;
	line-height:24px;
	padding:0 7px;
	-moz-border-radius:2x;
	-webkit-border-radius:2px;
	border-radius:2px;
}
body .m-sharePager .pgb:hover {
	background-color:#e1e1e1;
}
body .m-sharePager div .pgbleft,body .m-sharePager div .pgbright {
	width:72px;
	height:24px;
	padding:0;
	line-height:24px;
}
body .m-sharePager div .pgbleft {
	background-position:-22px -23px;
}
body .m-sharePager div .pgbright {
	background-position:-104px -23px;
}
body .m-sharePager div .pgbleft:hover {
	padding:0;
	border:none;
	background-position:-22px -57px;
}
body .m-sharePager div .pgbright:hover {
	padding:0;
	border:none;
	background-position:-104px -57px;
}
body .m-sharePager .pgi.js-zslt-987 {
	color:#fff;
	border:none;
	background-color:#5CB3E7;
}
body .m-sharePager .pgi:hover,body .m-sharePager .pgi.js-zhvr-258 {
	border:none;
	background-color:#e1e1e1;
	color:#333;
	text-decoration:none;
}
body .m-sharePager .pgi.js-zslt-987:hover {
	color:#fff;
	background-color:#5CB3E7;
}
body .m-sharePager .pgi.js-zslt-987 {
	cursor:default;
}
.w-sliderPager {
	position:absolute;
	top:134px;
	padding:13px;
	border-radius:33px;
	background:#e3e3e3;
	cursor:pointer;
}
.w-sliderPager .inner {
	width:40px;
	height:40px;
	border-radius:20px;
	background:#d4d4d4;
	text-align:center;
	line-height:40px;
	font-size:26px;
	color:#fff;
	font-weight:bold;
	font-family:ËÎÌå;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.w-sliderPager:hover {
	padding:10px;
	top:137px;
	border-radius:30px;
}
.w-sliderPager:hover .inner {
	background:#17b3ee;
}
.w-sliderPager-l {
	left:0;
}
.w-sliderPager-r {
	right:0;
}
.w-sliderPager-l:hover {
	left:0;
}
.w-sliderPager-r:hover {
	right:0;
}
.w-homeSlidePager .w-circle,.w-homeSlidePager .w-circle:visited {
	position:fixed;
	_position:absolute;
	right:0;
	top:50%;
	margin-top:-33px;
	z-index:10;
	background-color:rgba(0,0,0,0.35);
}
.w-homeSlidePager .w-circle:hover {
	padding:13px;
}
.w-homeSlidePager .w-circle:active {
	padding:10px;
}
.w-homeSlidePager .w-circle .inner,.w-homeSlidePager .w-circle:visited .inner {
	background-color:rgba(0,0,0,0.25);
}
.w-homeSlidePager .w-circle:hover .inner {
	background-color:#17B3EE;
}
.w-homeSlidePager .w-circle-l,.w-homeSlidePager .w-circle-l:hover,.w-homeSlidePager .w-circle-l:visited {
	left:0;
	right:auto;
}
.w-homeSlidePager .w-circle-r,.w-homeSlidePager .w-circle-r:hover,.w-homeSlidePager .w-circle-r:visited {
	right:0;
	left:auto;
}
.w-homeSlidePager .w-circle-l:active {
	left:3px;
}
.w-homeSlidePager .w-circle-r:active {
	right:3px;
}
.w-groupSliderPager {
	position:absolute;
	top:0;
	width:50%;
	height:100%;
	z-index:10;
	background-image:url(../image/sniff.png);
}
.w-groupSliderPager b {
	display:none;
	position:absolute;
	width:40px;
	height:61px;
	zoom:1;
	text-indent:-9999em;
	top:50%;
}
.w-groupSliderPager-gonext {
	right:0;
	left:auto;
}
.w-groupSliderPager-gonext:hover b,.w-groupSliderPagerHack b {
	display:block;
}
.w-groupSliderPager-gonext b {
	right:0;
	background-image:url(../photo/image/sharesetslide/r1.png);
	background-repeat:no-repeat;
	background-position:0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../photo/image/sharesetslide/r1.png",sizingMethod="scale");
}
.w-groupSliderPager-goprev {
	right:auto;
	left:0;
	background-position:10% center;
}
.w-groupSliderPager-goprev b {
	left:0;
	background-image:url(../photo/image/sharesetslide/l1.png);
	background-repeat:no-repeat;
	background-position:0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../photo/image/sharesetslide/l1.png",sizingMethod="scale");
}
.w-groupSliderPager-goprev:hover b {
	display:block;
}
.w-btn,.w-btn .btn-txt {
	overflow:hidden;
	display:inline-block;
	height:24px;
	color:#fff;
}
.w-btn {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding-right:10px;
	vertical-align:middle;
	*vertical-align:baseline;
	letter-spacing:-20px;
	background-position:right -25px;
	cursor:pointer;
}
.w-btn .btn-txt {
	padding-left:10px;
	line-height:24px;
	letter-spacing:0;
	vertical-align:baseline;
	background-position:0 0;
}
.w-btn:hover,.w-btnhover {
	text-decoration:none;
	background-position:right -70px;
}
.w-btn:hover .btn-txt,.w-btnhover .btn-txt {
	background-position:0 -50px;
}
.w-btn-DeepSkyBlue {
	background-position:right -25px;
}
.w-btn-DeepSkyBlue .btn-txt {
	background-position:0 0;
}
.w-btn-DeepSkyBlue:hover,.w-btn-DeepSkyBluehover {
	background-position:right -75px;
}
.w-btn-DeepSkyBlue:hover .btn-txt,.w-btn-DeepSkyBluehover .btn-txt {
	background-position:0 -50px;
}
.w-btn-fmok,.w-btn-fmok .btn-txt {
	height:28px;
}
.w-btn-fmok {
	padding-right:15px;
	line-height:28px;
	background-position:right -229px;
}
.w-btn-fmok .btn-txt {
	padding-left:15px;
	line-height:28px;
	background-position:0 -200px;
}
.w-btn-fmok:hover,.w-btn-fmokhover {
	background-position:right -287px;
}
.w-btn-fmok:hover .btn-txt,.w-btn-fmokhover .btn-txt {
	background-position:0 -258px;
}
.w-btn-fmcancel,.w-btn-fmcancel .btn-txt {
	height:28px;
}
.w-btn-fmcancel {
	padding-right:15px;
	line-height:28px;
	background-position:right -345px;
	cursor:default;
}
.w-btn-fmcancel .btn-txt {
	padding-left:15px;
	line-height:28px;
	color:#999;
	background-position:0 -316px;
}
.w-btn-fmcancel:hover,.w-btn-fmcancelhover {
	background-position:right -345px;
}
.w-btn-fmcancel:hover .btn-txt,.w-btn-fmcancelhover .btn-txt {
	background-position:0 -316px;
}
.w-btn-DimGray {
	background-position:right -125px;
}
.w-btn-DimGray .btn-txt {
	background-position:0 -100px;
}
.w-btn-DimGray:hover,.w-btn-DimGrayhover {
	background-position:right -175px;
}
.w-btn-DimGray:hover .btn-txt,.w-btn-DimGrayhover .btn-txt {
	background-position:0 -150px;
}
.w-btn-WhiteSmoke {
	color:#333;
	background-position:right -399px;
}
.w-btn-WhiteSmoke .btn-txt {
	color:#333;
	background-position:0 -374px;
}
.w-btn-WhiteSmoke:hover,.w-btn-WhiteSmokehover {
	background-position:right -449px;
}
.w-btn-WhiteSmoke:hover .btn-txt,.w-btn-WhiteSmokehover .btn-txt {
	color:#333;
	background-position:0 -424px;
}
.w-btn-disabled,.w-btn-disabled:hover,.w-btn-disabledhover {
	color:#999;
	background-position:right -449px;
	cursor:default;
}
.w-btn-disabled .btn-txt,.w-btn-disabled:hover .btn-txt,.w-btn-disabledhover .btn-txt {
	color:#999;
	background-position:0 -424px;
}
.w-btnFmCancel,.w-btnFmOk,.w-btnBFmOk,.w-btnBFmCancel,.w-btnDisabled,.w-btnWhiteSmoke,.w-btnDimGray,.w-btnDeepSkyBlue,.w-btnWhiteSmokeDisabled,.w-btnDimGrayDisabled,.w-btnDeepSkyBlueDisabled {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	vertical-align:middle;
	*vertical-align:baseline;
	cursor:pointer;
	text-decoration:none;
	letter-spacing:0;
}
.w-btnFmCancel:hover,.w-btnFmOk:hover,.w-btnDisabled:hover,.w-btnWhiteSmoke:hover,.w-btnDimGray:hover,.w-btnDeepSkyBlue:hover {
	text-decoration:none;
}
.w-btnDisabled,.w-btnWhiteSmoke,.w-btnDimGray,.w-btnDeepSkyBlue,.w-btnWhiteSmokeDisabled,.w-btnDimGrayDisabled,.w-btnDeepSkyBlueDisabled {
	overflow:hidden;
	display:inline-block;
	padding:0 10px;
	height:24px;
	line-height:24px;
	color:#fff;
}
.w-btnDeepSkyBlue {
	border-bottom:1px solid #1FABE7;
	background-color:#3eb1f0;
}
.w-btnDeepSkyBlue:hover,.w-btn-DeepSkyBluehover {
	border-bottom:1px solid #1FABE7;
	color:#fff;
	background-color:#1687cb;
}
.w-btnDimGray {
	border-bottom:1px solid #555;
	color:#fff;
	background-color:#666;
}
.w-btnDimGray:hover,.w-btnDimGrayHover {
	color:#fff;
	background-color:#333;
}
.w-btnWhiteSmoke {
	border-bottom:1px solid #e4e4e4;
	color:#333;
	background-color:#f1f1f1;
}
.w-btnWhiteSmoke:hover,.w-btnWhiteSmokeHover {
	color:#333;
	background-color:#e1e1e1;
}
.w-btnDisabled,.w-btnDisabled:hover,.w-btnDisabledHover,.w-btnWhiteSmokeDisabled,.w-btnDimGrayDisabled,.w-btnDeepSkyBlueDisabled {
	border-bottom:1px solid #e1e1e1;
	color:#999;
	background-color:#f1f1f1;
	cursor:default;
}
.w-btnDisabled,.w-btnDisabled:hover,.w-btnDisabledHover:hover,.w-btnWhiteSmokeDisabled:hover,.w-btnDimGrayDisabled:hover,.w-btnDeepSkyBlueDisabled:hover {
	text-decoration:none;
	color:#999;
	cursor:default;
}
.w-btnFmOk,.w-btnFmCancel,.w-btnBFmCancel,.w-btnBFmOk {
	overflow:hidden;
	display:inline-block;
	padding:0 15px;
	height:28px;
	line-height:28px;
	text-decoration:none;
}
.w-btnFmOk,.w-btnBFmOk {
	border-bottom:1px solid #1fabe7;
	color:#fff;
	background-color:#3eb1f0;
}
.w-btnFmOk:hover,.w-btnFmOkHover,.w-btnBFmOk:hover,.w-btnBFmOkHover {
	color:#fff;
	background-color:#1687cb;
	text-decoration:none;
}
.w-btnBFmOk,.w-btnBFmCancel {
	padding:0 30px;
	height:44px;
	line-height:44px;
	font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
	font-size:22px;
}
.w-btnFmCancel,.w-btnBFmCancel {
	color:#ccc;
	cursor:default;
}
.w-btnFmCancel,.w-btnFmCancel:hover,.w-btnFmCancelHover,.w-btnBFmCancel,.w-btnBFmCancel:hover {
	border-bottom:1px solid #e1e1e1;
	color:#ccc;
	background-color:#eee;
	text-decoration:none;
}
.w-slideDot {
	overflow:hidden;
	margin-left:10px;
	height:6px;
	letter-spacing:-4px;
	text-align:right;
}
.w-slideDot .slideDot {
	overflow:hidden;
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
	width:6px;
	height:6px;
	-webkit-text-size-adjust:none;
	font-size:0;
	line-height:0;
	cursor:pointer;
	background-color:#999;
}
.w-slideDot .active {
	width:8px;
	height:8px;
	background-color:#3eb1f0;
}
.w-circle,.w-circle:visited {
	display:inline-block;
	padding:13px;
	border-radius:33px;
	background:#333;
	cursor:pointer;
}
.w-circle .inner,.w-circle:visited .inner {
	display:block;
	width:40px;
	height:40px;
	border-radius:20px;
	background:#666;
	text-align:center;
	line-height:40px;
	font-size:26px;
	color:#fff;
	font-weight:bold;
	font-family:\5B8B\4F53;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.w-circle,.w-circle:hover,.w-circle:visited,.w-circle:active {
	text-decoration:none;
}
.w-circle:active {
	padding:10px;
	border-radius:30px;
	-moz-transition-property:all;
	-moz-transition-duration:.2s;
	-moz-transition-timing-function:linear;
	-webkit-transition-property:all;
	-webkit-transition-duration:.2s;
	-webkit-transition-timing-function:linear;
	-o-transition-property:all;
	-o-transition-duration:.2s;
	-o-transition-timing-function:linear;
	transition-property:all;
	transition-duration:.2s;
	transition-timing-function:linear;
	-moz-transform-origin:center center;
	-webkit-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center;
}
.w-circle:hover .inner,.w-circle:active .inner {
	background:#17b3ee;
}
.w-inputButton {
	border-radius:2px 2px 2px 2px;
	cursor:pointer;
	letter-spacing:0;
	vertical-align:middle;
	display:inline-block;
	height:28px;
	line-height:28px;
	overflow:hidden;
	padding:0 15px;
	text-decoration:none;
	background-color:#3EB1F0;
	border:1px solid #1FABE7;
	color:#FFF;
	font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
	font-size:22px;
}
.w-inputButton:hover,.w-inputButtonHover {
	color:#fff;
	background-color:#1687cb;
	text-decoration:none;
}
.w-icoRecommend,.w-icoShow,.w-closWin,.w-dottedLine,.w-camera,.w-address,.w-folder,.w-checkbox,.w-checkbox-select,.w-prev,.w-setCover,.w-remove,.w-removeS,.w-removeA,.w-autoLoading,.w-cc {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:0;
	letter-spacing:0;
	-webkit-text-size-adjust:none;
	vertical-align:text-bottom;
}
.w-autoLoading {
	width:30px;
	height:30px;
}
.w-dottedLine {
	width:45px;
	height:1px;
}
.w-closWin {
	width:13px;
	height:13px;
}
.w-closWin:hover {
	background-position:0 -28px;
}
.w-camera,.w-address,.w-folder,.w-checkbox,.w-checkbox-select,.w-prev,.w-setCover,.w-remove,.w-removeA,.w-removeS {
	vertical-align:middle;
}
.w-setCover {
	width:16px;
	height:16px;
	background-position:-32px -1px;
	cursor:pointer;
}
.w-setCover:hover {
	background-position:-32px -18px;
}
.w-remove {
	width:14px;
	height:14px;
	background-position:-63px -2px;
	cursor:pointer;
}
.w-remove:hover {
	background-position:-63px -18px;
}
.w-removeA {
	width:15px;
	height:16px;
	background-position:-164px -0;
	cursor:pointer;
}
.w-removeA:hover {
	background-position:-164px -18px;
}
.w-removeS {
	width:9px;
	height:9px;
	background-position:-185px -0;
	cursor:pointer;
}
.w-checkbox {
	width:14px;
	height:14px;
	background-position:-86px -20px;
}
.w-checkbox-select {
	width:18px;
	height:18px;
	background-position:-86px 0;
}
.w-prev {
	width:15px;
	height:15px;
	background-position:-143px -1px;
	cursor:pointer;
}
.w-prev:hover {
	background-position:-144px -19px;
}
.w-camera {
	width:12px;
	height:9px;
	background-position:-112px -5px;
}
.w-address {
	width:10px;
	height:15px;
	background-position:-130px -1px;
}
.w-folder {
	width:11px;
	height:11px;
	background-position:-113px -20px;
}
.w-icoRecommend {
	width:22px;
	height:22px;
	background:url(../images/ico_praise.png) no-repeat scroll 0 0 transparent;
}
.w-icoRecommend2 {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	width:13px;
	height:13px;
	background:url(../images/ico_praise_gray.png) no-repeat 0 0;
	font-size:0;
	-webkit-text-size-adjust:none;
}
.w-icoLikePng24 {
	background:url("../images/xin.png") no-repeat scroll 0 3px transparent;
	float:right;
	height:18px;
	margin-right:5px;
	padding-left:22px;
}
.w-piccount {
	float:right;
	height:18px;
	margin-right:5px;
	padding-left:22px;
}
.w-icoShow {
	height:18px;
	width:40px;
	background:url(../images/pic_20111020.png) no-repeat -162px -823px scroll;
}
.w-rank {
	display:inline-block;
	line-height:1.2;
	color:#999;
	font-size:12px;
}
.w-rankStar {
	display:inline-block;
	line-height:1.2;
	text-indent:-9999px;
}
.w-separatrix,.w-bracketL,.w-bracketR {
	color:#999;
}
.w-bracketL,.w-bracketR {
	display:inline-block;
	border:1px solid #bbb;
	width:4px;
	height:23px;
	font-size:0;
	vertical-align:middle;
}
.w-bracketL {
	border-right:none;
}
.w-bracketR {
	border-left:none;
}
.w-ico-hding,.w-ico-hdend,.w-ico-like,.w-ico-cmt,.w-ico-attention {
	overflow:hidden;
	display:inline-block;
	font-size:0;
	letter-spacing:0;
	-webkit-text-size-adjust:none;
	vertical-align:baseline;
}
.w-ico-like,.w-ico-cmt,.w-ico-attention {
	width:16px;
	height:14px;
	vertical-align:middle;
	background:url(../images/ico_likecmt_gray.png) no-repeat 0 0 scroll;
}
.w-ico-attention {
	background-position:0 0;
}
.w-ico-like {
	background-position:-45px 0;
}
.w-ico-cmt {
	background-position:-22px 0;
}
.w-ico-hding,.w-ico-hdend {
	margin-left:5px;
	width:58px;
	height:15px;
}
.w-ico-hdend {
	background-position:0 -15px;
}
.w-ico-submiting {
	display:inline-block;
	width:30px;
	height:30px;
	vertical-align:middle;
	letter-spacing:0;
	font-size:0;
	-webkit-text-size-adjust:none;
}
.w-formloading {
	margin:40px auto 80px;
	text-align:center;
}
.w-formloading .loadingimg {
	margin:0 auto;
}
.w-fontarrow {
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
}
.w-borderarrow {
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	border-color:transparent transparent transparent #4f3b3d;
	border-style:dashed dashed dashed solid;
	border-width:10px;
	width:0;
	height:0;
}
.w-borderarrow-l,.w-borderarrow-r,.w-borderarrow-t,.w-borderarrow-b {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	border-color:transparent transparent transparent #4f3b3d;
	border-style:dashed dashed dashed solid;
	border-width:5px;
	width:0;
	height:0;
}
.w-borderarrow-l {
	border-color:transparent #4f3b3d transparent transparent;
	border-style:dashed solid dashed dashed;
}
.w-borderarrow-t {
	border-color:transparent transparent #4f3b3d transparent;
	border-style:dashed dashed solid dashed;
}
.w-borderarrow-b {
	border-color:#4f3b3d transparent transparent transparent;
	border-style:solid dashed dashed dashed;
}
.w-cc {
	font-size:0;
	line-height:0;
	width:70px;
	height:18px;
	vertical-align:middle;
}
.w-cc-unset,.w-cc-unsetNhover,.w-cc-unsetNhover:hover {
	background-position:0 -190px;
}
.w-cc-unsetNhover {
	width:20px;
}
.w-cc-unsetHover,.w-cc-unset:hover,a:hover .w-cc-unset {
	background-position:0 -517px;
}
.w-cc-nr,.w-cc-nrNhover,.w-cc-nrNhover:hover {
	background-position:0 0;
}
.w-cc-nrNhover {
	width:20px;
}
.w-cc-nrHover,.w-cc-nr:hover,a:hover .w-cc-nr {
	background-position:0 -325px;
}
.w-cc-by_nc_nd,.w-cc-by_nc_ndNhover,.w-cc-by_nc_ndNhover:hover {
	background-position:0 -25px;
}
.w-cc-by_nc_ndNhover {
	width:60px;
}
.w-cc-by_nc_ndHover,.w-cc-by_nc_nd:hover,a:hover .w-cc-by_nc_nd {
	background-position:0 -351px;
}
.w-cc-by_nc_sa,.w-cc-by_nc_saNhover,.w-cc-by_nc_saNhover:hover {
	background-position:0 -52px;
}
.w-cc-by_nc_saNhover {
	width:60px;
}
.w-cc-by_nc_saHover,.w-cc-by_nc_sa:hover,a:hover .w-cc-by_nc_sa {
	background-position:0 -378px;
}
.w-cc-by_nc,.w-cc-by_ncNhover,.w-cc-by_ncNhover:hover {
	background-position:0 -80px;
}
.w-cc-by_ncNhover {
	width:40px;
}
.w-cc-by_ncHover,.w-cc-by_nc:hover,a:hover .w-cc-by_nc {
	background-position:0 -406px;
}
.w-cc-by_nd,.w-cc-by_ndNhover,.w-cc-by_ndNhover:hover {
	background-position:0 -108px;
}
.w-cc-by_ndNhover {
	width:40px;
}
.w-cc-by_ndHover,.w-cc-by_nd:hover,a:hover .w-cc-by_nd {
	background-position:0 -434px;
}
.w-cc-by_sa,.w-cc-by_saNhover,.w-cc-by_saNhover:hover {
	background-position:0 -135px;
}
.w-cc-by_saNhover {
	width:40px;
}
.w-cc-by_saHover,.w-cc-by_sa:hover,a:hover .w-cc-by_sa {
	background-position:0 -462px;
}
.w-cc-by,.w-cc-byNhover,.w-cc-byNhover:hover {
	background-position:0 -163px;
}
.w-cc-byNhover {
	width:20px;
}
.w-cc-byHover,.w-cc-by:hover,a:hover .w-cc-by {
	background-position:0 -489px;
}
.w-weiboico,.w-weiboico-wy163,.w-weiboico-sinaweibo,.w-weiboico-qqweibo,.w-weiboico-qqzone,.w-weiboico-douban,.w-weiboico-renren,.w-weiboico-kaixin {
	display:inline-block;
	margin-right:10px;
	width:16px;
	height:16px;
	vertical-align:middle;
	-webkit-text-size-adjust:none;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	text-indent:-99999px;
	background:url(../images/icn.png) -23px -3960px no-repeat scroll;
}
.w-weiboico-wy163 {
	background-position:-24px -3960px;
}
.w-weiboico-sinaweibo {
	background-position:-88px -3982px;
}
.w-weiboico-qqweibo {
	background-position:-134px -3960px;
}
.w-weiboico-qqzone {
	background-position:-111px -3982px;
}
.w-weiboico-douban {
	background-position:-113px -3960px;
}
.w-weiboico-renren {
	background-position:-47px -3960px;
}
.m-blueWB .weibo-txt {
	display:inline-block;
	vertical-align:middle;
}
.w-blueWB-wy163,.w-blueWB-sinaweibo,.w-blueWB-qqweibo,.w-blueWB-qqzone,.w-blueWB-douban,.w-blueWB-renren,.w-blueWB-kaixin {
	display:inline-block;
	margin-right:5px;
	width:21px;
	height:21px;
	vertical-align:middle;
	-webkit-text-size-adjust:none;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	text-indent:-99999px;
}
.w-blueWB-wy163 {
	background-position:-27px -24px;
}
.w-blueWB-wy163:hover {
	background-position:-27px 0;
}
.w-blueWB-sinaweibo {
	background-position:0 -24px;
}
.w-blueWB-sinaweibo:hover {
	background-position:0 0;
}
.w-blueWB-qqweibo {
	background-position:-147px -24px;
}
.w-blueWB-qqweibo:hover {
	background-position:-147px 0;
}
.w-blueWB-qqzone {
	background-position:-86px -24px;
}
.w-blueWB-qqzone:hover {
	background-position:-86px 0;
}
.w-blueWB-douban {
	background-position:-175px -24px;
}
.w-blueWB-douban:hover {
	background-position:-175px 0;
}
.w-blueWB-renren {
	background-position:-55px -24px;
}
.w-blueWB-renren:hover {
	background-position:-55px 0;
}
.w-blueWB-kaixin {
	background-position:-115px -24px;
}
.w-blueWB-kaixin:hover {
	background-position:-115px 0;
}
.w-color-wy163,.w-color-lofter,.w-color-sinaweibo,.w-color-qqweibo,.w-color-qqzone,.w-color-douban,.w-color-renren,.w-color-kaixin,.w-color-500,.w-color-fr,.w-color-sinaweiboB,.w-color-renrenB,.w-color-qqweiboB,.w-color-frB,.w-color-doubanB,.w-color-500B,.w-color-wy163Light,.w-color-lofterLight,.w-color-sinaweiboLight,.w-color-qqweiboLight,.w-color-qqzoneLight,.w-color-doubanLight,.w-color-renrenLight,.w-color-kaixinLight,.w-color-500Light,.w-color-frLight {
	overflow:hidden;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
	-webkit-text-size-adjust:none;
	font-size:0;
	line-height:0;
	letter-spacing:0;
	text-indent:0;
}
.w-color-lofter,.w-color-lofterLight {
	width:18px;
	height:18px;
	background-position:-318px 0;
}
.w-color-lofterLight {
	background-position:-318px -33px;
}
.w-color-wy163,.w-color-wy163Light {
	width:16px;
	height:21px;
	background-position:-43px 0;
}
.w-color-wy163Light {
	background-position:-43px -30px;
}
.w-color-sinaweibo,.w-color-sinaweiboLight {
	width:21px;
	height:19px;
	background-position:-7px -1px;
}
.w-color-sinaweiboLight {
	background-position:-7px -31px;
}
.w-color-qqweibo,.w-color-qqweiboLight {
	width:18px;
	height:18px;
	background-position:-178px -2px;
}
.w-color-qqweiboLight {
	background-position:-178px -32px;
}
.w-color-qqzone,.w-color-qqzoneLight {
	width:20px;
	height:21px;
	background-position:-107px 0;
}
.w-blueWB-qqzoneLight {
	background-position:-107px -30px;
}
.w-color-douban,.w-color-doubanLight {
	width:18px;
	height:18px;
	background-position:-213px -2px;
}
.w-color-doubanLight {
	background-position:-213px -32px;
}
.w-color-renren,.w-color-renrenLight {
	width:20px;
	height:21px;
	background-position:-72px 0;
}
.w-color-renrenLight {
	background-position:-72px -30px;
}
.w-color-kaixin,.w-color-kaixinLight {
	width:21px;
	height:21px;
	background-position:-142px 0;
}
.w-color-kaixinLight {
	background-position:-142px -29px;
}
.w-color-fr,.w-color-frLight {
	width:22px;
	height:17px;
	background-position:-247px -1px;
}
.w-color-frLight {
	background-position:-247px -31px;
}
.w-color-500,.w-color-500Light {
	width:28px;
	height:14px;
	background-position:-283px -4px;
}
.w-color-500Light {
	background-position:-283px -34px;
}
.w-color-sinaweiboB {
	width:28px;
	height:26px;
	background-position:-9px -81px;
}
.w-color-renrenB {
	width:24px;
	height:24px;
	background-position:-71px -81px;
}
.w-color-qqweiboB {
	width:24px;
	height:24px;
	background-position:-133px -81px;
}
.w-color-frB {
	width:24px;
	height:24px;
	background-position:-194px -81px;
}
.w-color-500B {
	width:24px;
	height:24px;
	background-position:-256px -81px;
}
.w-color-doubanB {
	width:24px;
	height:24px;
	background-position:-313px -81px;
}
.w-x100-wy163,.w-x100-sinaweibo,.w-x100-qqweibo,.w-x100-qqzone,.w-x100-douban,.w-x100-renren,.w-x100-kaixin {
	overflow:hidden;
	display:inline-block;
	margin-right:0;
	margin-bottom:5px;
	vertical-align:middle;
	-webkit-text-size-adjust:none;
	font-size:0;
	line-height:0;
	letter-spacing:0;
	text-indent:0;
}
.w-x100-wy163 {
	width:15px;
	height:21px;
	background-position:-30px 0;
}
a:hover .w-x100-wy163,.w-x100-wy163:hover {
	background-position:0 0;
}
.w-x100-sinaweibo {
	width:20px;
	height:18px;
	background-position:-27px -27px;
}
a:hover .w-x100-sinaweibo,.w-x100-sinaweibo:hover {
	background-position:0 -27px;
}
.w-x100-qqweibo {
	width:17px;
	height:18px;
	background-position:-28px -134px;
}
a:hover .w-x100-qqweibo,.w-x100-qqweibo:hover {
	background-position:0 -134px;
}
.w-x100-qqzone {
	width:18px;
	height:20px;
	background-position:-28px -80px;
}
a:hover .w-x100-qqzone,.w-x100-qqzone:hover {
	background-position:-1px -81px;
}
.w-x100-renren {
	width:19px;
	height:20px;
	background-position:-28px -54px;
}
a:hover .w-x100-renren,.w-x100-renren:hover {
	background-position:0 -54px;
}
.w-x100-kaixin {
	width:19px;
	height:20px;
	background-position:-27px -107px;
}
a:hover .w-x100-kaixin,.w-x100-kaixin:hover {
	background-position:0 -107px;
}
.w-x100-douban {
	margin-bottom:0;
	width:17px;
	height:17px;
	background-position:-29px -161px;
}
a:hover .w-x100-douban,.w-x100-douban:hover {
	background-position:0 -161px;
}
.w-sort,.w-sort .st-arrow,.w-sort .st-rect {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	-webkit-text-size-adjust:none;
	font-size:0;
}
.w-sort {
	position:relative;
	width:8px;
	height:8px;
	text-align:center;
	vertical-align:middle;
}
.w-sort .st-arrow {
	position:absolute;
	visibility:hidden;
}
.w-sort .st-rect {
	position:absolute;
	left:0;
	top:3px;
	border:4px solid #999;
	border-width:1px 4px;
	width:0;
	height:0;
	visibility:visible;
}
.w-sort-rise .st-arrow {
	left:0;
	top:0;
	border-color:transparent transparent #5FA06B transparent;
	border-style:solid;
	_border-style:dashed dashed solid dashed;
	border-width:0 4px 4px;
	visibility:visible;
}
.w-sort-rise .st-rect {
	top:4px;
	left:2px;
	border:2px solid #5FA06B;
	width:0;
	height:0;
}
.w-sort-fall .st-arrow {
	left:0;
	top:auto;
	bottom:0;
	border-color:#FF5D39 transparent transparent transparent;
	border-style:solid;
	_border-style:solid dashed dashed dashed;
	border-width:4px 4px 0;
	visibility:visible;
}
.w-sort-fall .st-rect {
	top:auto;
	bottom:4px;
	left:2px;
	border:2px solid #FF5D39;
}
.m-top {
	position:fixed;
	right:50px;
	bottom:150px;
	width:43px;
	height:43px;
	cursor:pointer;
}
.m-top:hover {
	background-position:0 -43px;
}
.m-floatBar {
	position:fixed;
	right:50px;
	bottom:150px;
	height:270px;
	width:122px;
}
.m-floatBar ul {
	position:relative;
}
.m-floatBar .m-top-spacial {
	position:absolute;
	top:0;
	right:7px;
	width:45px;
	height:45px;
	cursor:pointer;
	background:url(../images/top0.png) no-repeat;
	z-index:10;
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-webkit-transition-duration:.2s;
	transition-duration:.2s;
	-webkit-transition-property:all;
	transition-property:all;
}
.m-floatBar .m-top-spacial:hover{
	background:url(../images/top1.png) no-repeat;
}
.m-floatBar .m-back {
	position:absolute;
	top:60px;
	right:7px;
	width:45px;
	height:45px;
	cursor:pointer;
	background:url(../images/prev0.png) no-repeat;
	z-index:6;
	/* -webkit-transition-delay:.3s; */
	-moz-transition-delay:.3s;
	/* -webkit-transition-property:all; */
	transition-property:all;
	/* -webkit-transition-duration:.3s; */
	/* transition-duration:.3s; */
}
.m-floatBar .m-back:hover {
	background:url(../images/prev1.png) no-repeat;
}
.m-floatBar .m-front {
	position:absolute;
	right:7px;
	right:7px;
	top:115px;
	width:45px;
	height:45px;
	cursor:pointer;
	background:url(../images/next0.png) no-repeat;
	z-index:8;
	-webkit-transition-delay:.4s;
	transition-delay:.4s;
	-webkit-transition-property:top;
	transition-property:top;
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
}
.m-floatBar .m-quickMark {
	position:absolute;
	right:0;
	top:180px;
	width:90px;
	height:90px;
	cursor:default;
	z-index:9;
	-webkit-transition-delay:.5s;
	transition-delay:.5s;
	-webkit-transition-property:top;
	transition-property:top;
	-webkit-transition-duration:.5s;
	transition-duration:.5s;
}
.m-floatBar .m-front:hover {
	background:url(../images/next1.png) no-repeat;
}
input.i-text,.i-textarea {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #d8d8d8;
	border-top-color:#c1c1c1;
	padding:0 5px;
	font-size:14px;
	color:#666;
}
input.i-text {
	width:350px;
}
input.i-address {
	width:300px;
}
.i-text {
	height:30px;
	line-height:30px;
	font-size:14px;
	vertical-align:middle;
	font-family:Tahoma;
	cursor:text;
	outline:none;
}
input.i-date {
	width:100px;
}
input.i-money {
	width:75px;
}
textarea.i-textarea {
	overflow:auto;
	width:600px;
	height:185px;
	font-size:14px;
	line-height:1.8;
	resize:none;
}
input.i-text:invalid,input.i-checkbox:invalid,input.i-radio:invalid,textarea.i-textarea:invalid {
	box-shadow:none;
	outline:medium none;
}
input.i-text:hover,input.i-text:focus,textarea.i-textarea:hover,textarea.i-textarea:focus,input.i-text:focus:invalid,input.i-radio:focus:invalid,input.i-checkbox:focus:invalid,input.i-text:focus:valid,input.i-radio:focus:valid,input.i-checkbox:focus:valid {
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	outline:medium none;
}
input.i-file {
	vertical-align:middle;
	font-family:Tahoma;
	font-size:14px;
	cursor:default;
}
input.i-radio,.i-checkbox {
	width:14px;
	height:32px;
	vertical-align:middle;
	cursor:default;
}
.i-100 {
	width:96px;
}
.i-175 {
	width:171px;
}
.ime-none {
	ime-mode:disabled;
}
.w-formloading {
	margin:40px auto 80px;
	text-align:center;
}
.w-formloading .loadingimg {
	margin:0 auto;
}
.m-form .fm-item {
	margin:0 0 30px;
	letter-spacing:-20px;
}
.m-form .fm-item .fm-label,.m-form .fm-item .fm-content {
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	letter-spacing:0;
}
.m-form .fm-label {
	padding-top:5px;
	_padding-top:10px;
	width:80px;
	font-size:14px;
	text-align:right;
	color:#666;
}
.m-form .fm-label-middle {
	padding-top:0;
}
.m-form .fm-item .fm-content {
	margin-left:10px;
	width:540px;
	text-align:left;
}
.m-form .fm-label-t {
	padding-top:5px;
	padding-top:9px\9;
}
.m-form .fm-label-r {
	vertical-align:middle;
}
.m-form .fm-more {
	margin-left:5px;
	*zoom:1;
	vertical-align:middle;
	color:#999;
}
.m-form .fm-more-t {
	vertical-align:top;
}
.m-form .fm-explain {
	margin-top:5px;
	color:#999;
}
.m-form .fm-item-error .fm-more {
	color:#f60;
}
.m-form .fm-item-focus .fm-more,.m-form .fm-item-focus .fm-explain,.m-form .fm-item:hover .fm-explain,.m-form .fm-item:hover .fm-more {
	color:#666;
}
.m-form .fm-item-focus .fm-explain,.m-form .fm-item:hover .fm-explain {
	padding:0;
	background:none;
}
.m-form .fm-item .error {
	padding-left:15px;
	color:#f60;
}
.m-form .fm-required {
	margin-right:3px;
	color:#f60;
	font-size:14px;
	font-weight:700;
	vertical-align:middle;
}
.m-form .fm-submiting {
	display:inline-block;
	width:30px;
	height:30px;
	vertical-align:middle;
	letter-spacing:-20px;
	font-size:0;
	text-indent:-9999px;
	color:transparent;
	-webkit-text-size-adjust:none;
}
.f-hide {
	display:none!important;
}
.f-hidden {
	visibility:hidden!important;
}
.f-noselect {
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-o-user-select:none;
}
.f-graid {
	letter-spacing:-0.31em;
	word-spacing:0;
}
.f-unit,.f-unit-4,.f-unit-3,.f-unit-2,.f-unit-5 {
	display:inline-block;
	zoom:1;
	*display:inline;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
}
.f-unit-4 {
	width:25%;
}
.f-unit-3 {
	width:33.3%;
}
.f-unit-2 {
	width:50%;
}
.f-unit-5 {
	width:20%;
}
.f-clear:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}
.f-clear {
	zoom:1;
}
.f-lineBlock {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:baseline;
}
.f-baseline {
	vertical-align:baseline;
}
.f-imeNone {
	ime-mode:disabled;
}
.f-fl {
	float:left;
}
.f-fr {
	float:right;
}
.f-mc {
	margin-left:auto;
	margin-right:auto;
}
.f-tl {
	text-align:left;
}
.f-tc {
	text-align:center;
}
.f-tr {
	text-align:right;
}
.f-ts12 {
	font-size:12px;
}
.f-ts14 {
	font-size:14px;
}
.f-ts18 {
	font-size:18px;
}
.f-ts22 {
	font-size:22px;
}
.f-ts24 {
	font-size:24px;
}
.f-tcc {
	color:#ccc;
}
.f-tc3 {
	color:#333;
}
.f-tc9 {
	color:#999;
}
.f-tc6 {
	color:#666;
}
.f-tc4d {
	color:#4d4d4d;
}
.f-tc32 {
	color:#323232;
}
.f-tcff {
	color:#fff;
}
.f-torange {
	color:#f60;
}
.f-tn {
	font-weight:normal;
}
.f-tb {
	font-weight:bold;
}
.f-mt5 {
	margin-top:5px;
}
.f-mt10 {
	margin-top:10px;
}
.f-mt12 {
	margin-top:12px;
}
.f-mt15 {
	margin-top:15px;
}
.f-mt20 {
	margin-top:20px;
}
.f-mt25 {
	margin-top:25px;
}
.f-mt30 {
	margin-top:30px;
}
.f-mt40 {
	margin-top:40px;
}
.f-mt45 {
	margin-top:45px;
}
.f-mt50 {
	margin-top:50px;
}
.f-mt60 {
	margin-top:60px;
}
.f-mt80 {
	margin-top:80px;
}
.f-ml5 {
	margin-left:5px;
}
.f-ml10 {
	margin-left:10px;
}
.f-ml15 {
	margin-left:15px;
}
.f-ml20 {
	margin-left:20px;
}
.f-ml25 {
	margin-left:25px;
}
.f-mr5 {
	margin-right:5px;
}
.f-mr10 {
	margin-right:10px;
}
.f-mr20 {
	margin-right:20px;
}
.f-mb5 {
	margin-bottom:5px;
}
.f-mb8 {
	margin-bottom:8px;
}
.f-mb10 {
	margin-bottom:10px;
}
.f-mb20 {
	margin-bottom:20px;
}
.f-mb30 {
	margin-bottom:30px;
}
.f-mb35 {
	margin-bottom:35px;
}
.f-mb40 {
	margin-bottom:40px;
}
.f-mb60 {
	margin-bottom:60px;
}
.f-pb5 {
	padding-bottom:5px;
}
.f-pb10 {
	padding-bottom:10px;
}
.f-pt5 {
	padding-top:5px;
}
.f-pt10 {
	padding-top:10px;
}
.f-pt25 {
	padding-top:25px;
}
.f-pl5 {
	padding-left:5px;
}
.f-pl10 {
	padding-left:10px;
}
.f-pr5 {
	padding-right:5px;
}
.f-pr10 {
	padding-right:10px;
}
.f-opacityBg {
	display:block;
	width:100%;
	height:100%;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	-khtml-opacity:.8;
	opacity:.8;
	background:#000;
}
.f-trans {
	-moz-transition-property:all;
	-moz-transition-duration:.2s;
	-moz-transition-timing-function:linear;
	/* -webkit-transition-property:all; */
	/* -webkit-transition-duration:.2s; */
	/* -webkit-transition-timing-function:linear; */
	-o-transition-property:all;
	-o-transition-duration:.2s;
	-o-transition-timing-function:linear;
	/* transition-property:all; */
	/* transition-duration:.2s; */
	/* transition-timing-function:linear; */
}
.f-yahei {
	font-family:\5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial;
}
.f-bgc333 {
	background-color:#333;
}
